<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a ui-sref="tag.create" class="create">New Tag</a></li>
    </ul>
</div>
<div id="list-tag" class="content scaffold-list" role="main">
    <h1>Tag List</h1>
    <table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-class="{'even': $index%2 == 0, 'odd': $index%2 == 1}" ng-repeat="tag in vm.tagList">
      <td>
        <a ui-sref="tag.show({id: tag.id})">{{tag.id}}</a>
      </td>
      <td>
        <span>{{tag.name}}</span>
      </td>
    </tr>
  </tbody>
</table>
    <!--    <div class="pagination">
            <g:paginate total="${partCount ?: 0}" />
        </div>-->
</div>